@import "~bootstrap/dist/css/bootstrap.min.css";

.body-bg {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: aliceblue;
  border: solid rgb(0, 0, 0);
  width: 400px;
  height: fit-content;
}

.symbol.top,
.symbol.bottom {
  font-size: large;
  padding-left: 10px;
}

.number {
  font-size: xx-large;
  text-align: center;
}

.bottom {
  transform: rotate(180deg);
}
